/* Space Game 2023 CSS */

body{
    padding: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 17px;
    background-image: url("../docs/assets/space-background.jpeg");
    color: white;
}

#gameDiv{
    display: flex;
    justify-content: space-evenly;
}

#menuDiv{
    margin: 40px 0px 40px 0px;
    width: 550px;
}

#canvasDiv{
    margin: 40px 0px 40px 0px;
    width: 700px;
}

#keysDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keysDiv img{
    margin: 30px;
}

#logo-img{
    width: 250px;
}

#key-img{
    width: 140px;
}

.useArrowKeys{
    margin-top: 50px;
}

#start-button{
    font-size: 20px;
    font-family: 'Press Start 2P';
    width: 300px;
    height: 80px;
    background-color: #0B3D91;
    color: white;
    border-radius: 20px;
    border: 8px ridge #0B3D91;
    box-shadow: 0 8px #999;
}

#start-button:hover{
    background-color: #062652;
    border: 8px ridge #062652;
}

#start-button:active {
    background-color: #062652;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

@keyframes canvasappears {
    0%   {width: 0px; height: 0px;}
    /* 12.5%{width: 25px; height: 75px;}
    25%  {width: 50px; height: 150px;}
    50%  {width: 200px; height: 300px;}
    75%{width: 300px; height: 450px;} */
    100% {width: 400px; height: 600px;}
}

#canvas {
    animation: canvasappears 4s;
  }