/* Space Racer 2023 CSS */

body{
    padding: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 16px;
}

#gameDiv{
    display: flex;
    justify-content: space-evenly;
}

#menuDiv{
    margin: 30px;
    width: 500px;
}

#canvasDiv{
    margin: 30px;
    width: 400px;
}

#keysDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keysDiv img{
    margin: 40px;
}

#logo-img{
    width: 50%;
}

#key-img{
    width: 200px;
}

#start-button{
    font-size: 20px;
    font-family: 'Press Start 2P';
    width: 300px;
    height: 80px;
    background-color: #0B3D91;
    color: white;
    border-radius: 30px;
    border: 8px ridge #0B3D91;
    box-shadow: 0 8px #999;
}

#start-button:hover{
    background-color: #062652;
    border: 8px ridge #062652;
}

#start-button:active {
    background-color: #062652;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}